.checkout-main-div {
  display: flex;
  max-width: 100vw;
  padding: 20px;
  width: 80%;
  margin: auto;
}

#warning {
  color: red;
}

#checkout-maindiv {
  width: 170px;
  padding: 10px;
  align-items: center;
  text-align: center;
}
